.styleTable {
    height: 450px;
    width: 450px;
    text-align: center;
    justify-content: center;
}

.tdStyle {
    height: 150px;
    width: 150px;
    border: 1px solid #333;
    margin: auto;
}