.navbar-Items {
    background: #eeeeee;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
}
.navbar-logo {
    justify-self: start;
    margin-left: 15px;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;

    width: 100vw;
}

.nav-links {
    text-decoration: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.nav-links:hover {
    text-decoration: none;
    color: rgb(223, 170, 110);
    }
    
    .nav-style {
        border-right: 1px solid #000000;
        padding-right: 9px;
}

.border-style {
    border: none;
}
@media screen and (max-width:800px) {
    .navbar-Items {
        width: 100%;
    }
}